In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
s1_s2_cars_abs=gpd.read_file("s1_s2_cars_difference_rebounds_abs_change.gpkg")

In [3]:
s1_s2_cars_abs

,num_lines_1,num_lines_2,total_trips_1,total_trips_2,absolute_change,percentage_change,geometry
0,26,26,8,26,18,2.250000,"LINESTRING (24.89234 60.30863, 24.89216 60.30861)"
1,811,811,802,834,32,0.039900,"LINESTRING (24.75277 60.16618, 24.75277 60.16619)"
2,382,382,120,377,257,2.141667,"LINESTRING (24.75277 60.16618, 24.75264 60.16618)"
3,1,1,0,1,1,NaN,"LINESTRING (24.88439 60.29933, 24.88439 60.29934)"
4,42,42,12,40,28,2.333333,"LINESTRING (24.93405 60.22823, 24.93407 60.22849)"
...,...,...,...,...,...,...,...
40905,4,4,2,4,2,1.000000,"LINESTRING (24.71661 60.1171, 24.71649 60.1170..."
40906,0,0,0,0,0,NaN,"LINESTRING (24.97846 60.3671, 24.9786 60.36718..."
40907,0,0,0,0,0,NaN,"LINESTRING (24.64463 60.32049, 24.64476 60.319..."
40908,0,0,0,0,0,NaN,"LINESTRING (24.8682 60.42098, 24.8684 60.42084..."
40909,2,2,0,2,2,NaN,"LINESTRING (24.51229 60.1328, 24.51244 60.1327..."